.form-edit-container {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    height: 600px;
    width: 850px;
    display: flex;
    flex-direction: column;
}

.form-edit-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.form-edit-title {
    font-size: 24px;
    font-family: Roboto Bold;
    margin-left: 17px;
}

.form-edit-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .16);
}

.form-edit-body {
    height: calc(100% - 70px - 50px);
}

.department-name {
    width: 600px;
    margin-left: 17px;
}

.price {
    font-size: 17px;
    font-family: Roboto Bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 17px;
}

.budget-container {
    margin-left: 17px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: Roboto Medium;
    margin-bottom: 8px;
    font-size: 13px;
}

.budget-place {
    width: 450px;
}

.value {
    width: 140px;
    margin-left: 10px;
}

.buget-list {
    width: calc(100% - 17px - 17px);
    margin-left: 17px;
    overflow-y: auto;
    height: calc(100% - 60.23px - 40px - 22px - 17.5px - 36px - 20px);
}

.budget-place-cmb {
    width: 450px;
}

.budget-value {
    width: 140px;
    margin-left: 10px;
}

.buget-item {
    display: flex;
    margin-top: 15px;
}

.buget-item:nth-child(1) {
    margin-top: 0px;
}

.add-delete {
    display: flex;
    margin-top: 17px;
}

.add-budget-icon {
    background: url('../../assets/icons/qlts-icon.png') no-repeat -375px -419px;
	width: 18px;
	height: 18px;
    cursor: pointer;
    margin-left: 20px;
}

.delete-budget-icon {
    background: url('../../assets/icons/qlts-icon.png') no-repeat -375px -463px;
	width: 18px;
	height: 18px;
    cursor: pointer;
    margin-left: 20px;
}

.total-container {
    width: calc(100% - 17px - 17px);
    margin-left: 17px;
    display: flex;
}

.left-input {
    width: 450px;
}

.right-input {
    width: 140px;
    margin-left: 10px;
}

.exit-with-tooltip {
    position: relative
}

.exit-with-tooltip-tooltip {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 100px;
    text-align: center;
    display: none;
}

.exit-with-tooltip:hover .exit-with-tooltip-tooltip {
    display: block;
}