.popup-layer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 50, 50, 0.24);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.popup-box {
    width: 456px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(23, 27, 42, 0.078);
    border-radius: 4px;
    position: relative;
}

.popup-title {
    font-family: Roboto Bold;
    font-size: 20px;
    color: #1F1F1F;
    margin-top: 24px;
    margin-left: 24px;
}

.popup-content {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.popup-list-content-text {
    margin-bottom: 12px;
}

.popup-content-icon-warning {
    background: url('../../assets/icons/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}

.popup-content-icon-success {
    background: url('../../assets/icons/Sprites.64af8f61.svg') no-repeat -990px -462px;
    width: 36px;
    height: 36px;
}

.popup-content-icon-fail {
    background: url('../../assets/icons/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}

.popup-content-text {
    flex: 1;
    margin-left: 20px;
}

.popup-group-button {
    margin-top: 40px;
    margin-bottom: 24px;
    display: flex;
}

.popup-blank {
    flex: 1;
}

.outline-button {
    margin-right: 8px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.sub-button {
    margin-right: 8px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.main-button {
    margin-right: 24px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.popup-exit {
    background: url('../../assets/icons/qlts-icon.png') no-repeat -375px -287px;
	width: 18px;
	height: 18px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}