.layer-voucher-detail {
    height: 100vh;
    width: calc(100vw);
    background-color: rgba(56, 50, 50, 0.24);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.form-voucher-detail {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    height: 700px;
    width: 1050px;
}

.form-header-voucher-detail {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.form-title-voucher-detail {
    font-size: 24px;
    font-family: Roboto Bold;
    margin-left: 17px;
}

.icon-exit {
    background: url('../../assets/icons/qlts-icon.png') no-repeat -375px -287px;
	width: 18px;
	height: 18px;
    cursor: pointer;
    margin-right: 17px;
}

.blank {
    flex: 1;
}

.form-footer-voucher-detail {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .16);
}

.form-body-voucher-detail {
    width: 100%;
    height: calc(100% - 70px - 50px);
    background-color: rgb(26 164 200 / 5%);
    padding-top: 10px;
}

.title-form-body-voucher-detail {
    font-size: 17px;
    font-family: Roboto Bold;
    margin-left: 17px;
    margin-bottom: 10px;
}

.title-form-body-voucher-detail-2 {
    font-size: 17px;
    font-family: Roboto Bold;
    margin-left: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.voucher-info {
    width: calc(100% - 17px - 17px);
    background-color: #FFFFFF;
    margin-left: 17px;
}

.form-input-voucher-detail {
    width: 32%;
}

.voucher-info-row-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 17px;
}

.text-input-voucher-detail {
    margin-bottom: 8px;
    font-family: Roboto Medium;
    font-size: 13px;
}

.important-input {
    color: red;
}

.voucher-info-row-2 {
    margin-top: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
}

.note-input-voucher-detail {
    width: 100%;
}

.filter-input-voucher-detail-container {
    width: calc(100% - 17px - 17px);
    margin-left: 17px;
    background-color: #FFFFFF;
    padding: 17px;
    display: flex;
}

.filter-input-voucher-detail {
    width: 32%;
}

.icon-search {
    background: url('../../assets/icons/qlts-icon.png') no-repeat -243px -23px;
	width: 18px;
	height: 18px;
}

.table-voucher-detail {
    height: calc(100% - 70px - 17px);
    overflow-y: auto;
    width: calc(100% - 17px - 17px);
    margin-left: 17px;
    background-color: #FFFFFF;
    display: flex;
}

.voucher-info-with-table-and-filter {
    height: calc(100% - 40px - 164px - 30px);
}

.exit-icon-form-detail {
    position: relative
}

.exit-icon-form-detail:hover .exit-tooltip-form-detail {
    display: block;
}

.exit-tooltip-form-detail {
    position: absolute; 
    top: calc(100% + 10px); 
    right: 0; 
    width: 100px; 
    text-align: center;
    display: none;
}

.accept-btn-container {
    position: relative;
}

.accept-btn-container:hover .accept-btn-tooltip {
    display: block;
}

.accept-btn-tooltip {
    position: absolute;
    bottom: 100%;
    display: none;
}